// Here you can add other styles

.btn-primary {
  background-color: #D15437;
  border-color: #D15437;
  color: #ffffff;
}
#D15437 {
  /* 색상 속성 설정 */
  background-color: #D15437;
  border-color: #D15437;
  color: #ffffff; /* 텍스트 색상을 흰색 또는 다른 적절한 색상으로 설정하세요. */
}
table {
  border-collapse: collapse;
}

td {
  cursor: pointer;
  border: 1px solid #d8dbe0;
}

th.small {
  min-width: 70px;
  max-width: 70px;
}

th {
  min-width: 150px;
  max-width: 150px;
  border: 1px solid #d8dbe0;
}

th.large {
  min-width: 300px;
  max-width: 300px;
}

.full-width-container {
  width: 100%; /* 전체 너비 사용 */
  max-width: none; /* 최대 너비 제한 없음 */
  padding: 0; /* 내부 여백 없음 */
  margin: 0 auto; /* 중앙 정렬 */
}
